{% extends 'seller/master3.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">




    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">

      <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        {% for products in products %}
        <div class="col">
          <div class="card h-100 shadow-sm">
            <img src="{{products.product_pic.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="clearfix mb-3">
              </div>
              <h4 class="card-title text-center">{{products.product_name|title}}</h4>
              <div class=" my-4">
                <p class="card-text">{{products.description}}</p>
                <h5 class="float-end price-hp">{{products.price}}</h5>
                <a href="#" class="btn btn-warning">Edit</a>
                <a href="{% url 'seller:deletepro' products.id %}" class="btn btn-warning">Delete</a>
              </div>
            </div>

          </div>

        </div>


        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}